


html, body {
    overflow-x: hidden; /* Disable horizontal scrolling */
}


body {
    background-image: url(/MobiCare/assests/poly2.jpg) ;
    background-size: 100%;
  
}


header {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0%;
    margin: 0;
}

header img {
    margin-right: 20px;
    margin-left: 10px; 
}

nav {
    background-color: white;
}

nav a {
    text-decoration: none;
    color: blue;
    margin: 0 10px;
    font-size: 20px;
    color: rgb(0, 0, 104);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin: 0 20px;
    transition: color 0.3s ease;
    padding: 10px;
}

nav a:hover {
    color: red;
}

nav span {
    color: black;
}

.image-container {
    display: flex;
    justify-content: center;
    position: absolute;
    top: 280px; /* Adjust the top value to lower or raise the images */
    width: 100%; /* Ensure full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}


.image-container img {
    width: 20%;
    margin: 20px; /* Adjust the margin between images */
}


.img1:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease;
}
.img2:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease;
}
.img3:hover {
    filter: brightness(60%);
    transition: filter 0.3s ease;
}


footer {
    background-color: black;
    position: absolute;
    bottom: -180px;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: flex-end;
    justify-content: right; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

.arrow {
    height: 65%;
    width: 65%;
    max-width: 50px;
    background-color: rgb(137, 117, 0);
}

.meds{
    width: 100%; /* Set the desired width */
    height: 100%; /* Set the desired height */
    padding-top: 70px;
}
.medical-body{
    background-color: white !important;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 20px;
}

.h2-red{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 38px;

}
.h2-blue{
    color: darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 38px;
}

.p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 18px;
}
